* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #201f21;
}

.input-box {
    width: 400px;
    position: relative;
}

.input-box input {
    width: 100%; /* Adjusted width to occupy full space */
    height: 60px;
    padding: 0 20px;
    border: 1px solid #ccc;
    outline: none;
    color: #fff;
    background: transparent;
    font-size: 30px;
}

button {
    background: transparent;
    border: 0;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px; /* Adjusted position */
}

button img {
    width: 35px;
}

#msg {
    position: absolute;
    display: none;
    color: #fff;
    font-size: 25px;
    bottom: -40px; /* Adjusted position */
    left: 20px; /* Adjusted position */
}

#msg span {
    display: inline; /* Display the span element inline */
}

::placeholder {
    font-size: 25px;
}
